body {
	background-color: blue;
	color: aqua;
	font-family: "menlo"
}

ul.menu {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}

ul.menu li:before {
	content: "\0BB \020";
}

ul.menu li {
	margin: 5px 0 5px 10px;
}

ul.menu a {
	color: aqua;
}

div#app {
	width: 796px;
	margin: 10px auto;
}

h2, h3 {
	margin: 0;
}

div.box {
	margin-bottom: 20px;
	background-color: #000;
	border: solid 3px aqua;
	padding: 5px;
}

canvas#box {
	border: solid 3px aqua;
	background-color: #000;
}

div#left, div#center, div#right {
	float:left;
}

div#left {
	width: 200px;
	margin-right: 20px;
}

div#center {
	width: 306px;
	margin-right: 20px;
}

div#right {
	width: 250px;
}

div#info {
	height: 500px;
	overflow: auto;
}
